<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'On',
                'list-group-item-danger': appareilStatus === 'Off'}">
  <h4 [ngStyle]="{color: getColor()}">Device : {{ appareilName }} -- Status: {{ getStatus() }}</h4>
  <!--<input type="text" class="form-control" [(ngModel)]="appareilName">-->

  <button class="btn btn-sm btn-success" *ngIf="appareilStatus === 'On'" (click)="onSwitch()">Switch on</button>
  <button class="btn btn-sm btn-danger" *ngIf="appareilStatus === 'Off'" (click)="onSwitch()">Switch off</button>
</li>