<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <img height="500" width="500" alt="Smart Forest Logo" src="../assets/images/Smart_Forest_Logo.png"/>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!--<h2>My weather stations</h2>-->
            <p>Last update: {{ lastUpdate | async | date: 'short' }}</p>

            <app-map></app-map>
            <div id="blank"></div>
            <app-chart></app-chart>
        </div>
    </div>
</div>